/* General */
body {
    font-family: 'Georgia', serif;
    background-color: #f8f3e9;
    color: #4b3832;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #a67d5d;
    color: white;
    padding: 2em;
}

/* Botones y secciones */
.buttons button {
    background-color: #d8a047;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

/* Ocultar elementos */
.hidden {
    display: none;
}
